@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --blue-01: #8bacda;
    --blue-line: #2f415b;
    --blue-main-bg: #0d192b;
    --blue-card-bg: #14253d;
    --cyan-01: #00fff7;
    --white: #ffffff;

    --font-primary: 'Outfit';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary), Arial, Helvetica, sans-serif;
    font-size: 1.125em;
    font-weight: 300;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: var(--blue-01);
    background-color: var(--blue-main-bg);
}

.container-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    max-width: 350px;
    width: 100%;
    max-height: 600px;
    height: 100%;
    border-radius: 20px;
    background-color: var(--blue-card-bg);
    box-shadow: -1px 20px 40px 20px rgba(0, 0, 0, 0.164);
}

.container-img {
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
}

.container-img:hover .background {
    display: flex;
}

.background {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #00fff775;
    z-index: 10000;
}

.background img {
    width: 50px;
    height: 50px;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.title{
    font-size: 1.25em;
    font-weight: 600;
}
.title a {
    color: var(--white);
}

.subtitle {
    line-height: 1.5;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-info p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 400;
}

.card-info-eth {
    color: var(--cyan-01);
}

.perfil {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 5px;
    padding-top: 15px;
    font-weight: 400;
    border-top: 1px solid var(--blue-line);
}

.perfil-img {
    width: 30px;
    border-radius: 50%;
    border: 1px solid var(--white);
}

.perfil p a {
    color: var(--white);
}

.title a, .perfil p a {
    transition: color .2s ease-in-out;
}

.title a:hover, .perfil p a:hover {
    color: #00fff7;
}