@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --blue-01: hsl(215, 51%, 70%);
    --blue-line: hsl(215, 32%, 27%);
    --blue-main-bg: hsl(217, 54%, 11%);
    --blue-card-bg: hsl(216, 50%, 16%);
    --cyan-01: hsl(178, 100%, 50%);
    --white: hsl(0, 0%, 100%);

    --font-primary: 'Outfit';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary), Arial, Helvetica, sans-serif;
    font-size: 1.125em;
    font-weight: 300;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: var(--blue-01);
    background-color: var(--blue-main-bg);
}

.container-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    max-width: 350px;
    width: 100%;
    max-height: 600px;
    height: 100%;
    border-radius: 20px;
    background-color: var(--blue-card-bg);
    box-shadow: -1px 20px 40px 20px rgba(0, 0, 0, 0.164);
}

.card-img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.title{
    font-size: 1.25em;
    font-weight: 600;
    color: var(--white);
}

.subtitle {
    line-height: 1.5;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-info p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 400;
}

.card-info-eth {
    color: var(--cyan-01);
}

.perfil {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 5px;
    padding-top: 15px;
    font-weight: 400;
    border-top: 1px solid var(--blue-line);
}

.perfil-img {
    width: 30px;
    border-radius: 50%;
    border: 1px solid var(--white);
}

.perfil p span {
    color: var(--white);
}